body {
  background-color: white;
  text-align: center;
  font-family: garamond;
  word-spacing: 5px;
  padding: 50px 50px;
}

.header {
  background-color: #F1F1F1;
  text-align: center;
  padding: 20px;
  color: black;
}

h1 {
  
  color: black;
  
}

p {
  font-family: garamond;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

a { 
    font-size: 20px;
    border: 2px rgb(0,63,66);
    border-radius: 5px;
    border-width: 1px;
  }

  .module {
    cursor: url('path-to-image.png'), auto;	
  }