body {
  background-color: white;
  text-align: center;
  font-family: garamond;
  word-spacing: 5px;
  padding: 25px;
  text-decoration: none;
  overflow: scroll;
}

.header {
  background-color: white;
  text-align: center;
  padding: 20px;
  color: black;
}

h1 {
  
  color: black;
  text-align: center;
  
}
h3 {
  color:black;
  font-family: garamond;
  text-align: center;
}

p {
  font-family: garamond;
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-align: center;

  
}

a { 
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border: 5px #bfa884;
  border-radius: 10px;
  text-align: center;
}


body {
  background: #ffffff;
}

.saturn {
  height: 200px;
  width: 50px;
  max-width: 250px;
  max-height: 200px;
  text-align: center;
  display: flex;
}

.wrapper {
  height: 50vh;
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-demo {
  width: 16ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

