body {
  background-color: white;
  text-align: center;
  font-family: garamond;
  word-spacing: 5px;
  padding: 50px;
  text-decoration: none;
}

.header {
  background-color: white;
  text-align: center;
  padding: 20px;
  color: black;
}

h1 {
  
  color: black;
  text-align: center;
  
}
h3 {
  color:black;
  font-family: garamond;
  text-align: center;
}
p {
  font-family: garamond;
  font-size: 20px;
  color: black;
  text-decoration: none;
  text-align: center;

  
}

a { 
  font-size: 20px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  border: 5px #bfa884;
  border-radius: 10px;
  text-align: center;
}


.custom-cur {
  cursor: url('https://github.com/sonashine/sonashine.github.io/blob/master/high-voltage.svg'), auto;
}

body {
  background: #ffffff;
}

/*
#saturn {
  width: 400px;
  height: 400px;
  position: relative;
  margin: auto;
  transform: rotateZ(-15deg);
}

.rings {
  position: relative;
  width: 100%;
  height: 100%;
  
  background: -moz-radial-gradient(center, ellipse cover,  rgba(136, 112, 141, 0) 0%, rgba(61, 54, 47, 0) 34%, rgba(55,54,52,1) 36%, rgb(209, 186, 140) 37%, rgba(68,67,66,1) 38%, rgb(53, 48, 38) 39%, rgba(68,67,66,1) 40%, rgba(56,55,53,1) 41%, rgba(87,77,76,1) 42%, rgb(165, 133, 130) 44%, rgba(113,110,103,1) 46%, rgba(113,110,103,1) 48%, rgba(113,98,93,1) 49%, rgba(113,98,93,1) 51%, rgba(122,115,105,1) 52%, rgba(113,98,93,1) 53%, rgba(113,98,93,1) 54%, rgba(122,115,105,1) 55%, rgba(106,99,89,1) 56%, rgba(106,99,89,1) 58%, rgba(160, 117, 117, 0) 60%, rgb(102, 97, 122) 61%, rgba(65,64,70,1) 62%, rgba(90,85,89,1) 63%, rgba(78,74,73,1) 65%, rgba(78,73,74,1) 67%, rgba(78,73,74,0) 68%, rgba(78,73,75,1) 69%, rgba(78,73,75,1) 70%, rgba(78,73,76,0) 71%, rgba(77,72,76,0) 72%, rgba(24,19,25,0) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(24,19,25,0)), color-stop(34%,rgba(53,52,51,0)), color-stop(36%,rgb(160, 144, 113)), color-stop(37%,rgb(190, 174, 141)), color-stop(38%,rgba(68,67,66,1)), color-stop(39%,rgba(56,55,53,1)), color-stop(40%,rgba(68,67,66,1)), color-stop(41%,rgba(56,55,53,1)), color-stop(42%,rgba(87,77,76,1)), color-stop(44%,rgba(87,77,76,1)), color-stop(46%,rgba(113,110,103,1)), color-stop(48%,rgba(113,110,103,1)), color-stop(49%,rgba(113,98,93,1)), color-stop(51%,rgba(113,98,93,1)), color-stop(52%,rgb(168, 153, 132)), color-stop(53%,rgba(113,98,93,1)), color-stop(54%,rgba(113,98,93,1)), color-stop(55%,rgba(122,115,105,1)), color-stop(56%,rgba(106,99,89,1)), color-stop(58%,rgba(106,99,89,1)), color-stop(60%,rgba(79,76,76,0)), color-stop(61%,rgba(65,64,70,1)), color-stop(62%,rgba(65,64,70,1)), color-stop(63%,rgba(90,85,89,1)), color-stop(65%,rgba(78,74,73,1)), color-stop(67%,rgba(78,73,74,1)), color-stop(68%,rgba(78,73,74,0)), color-stop(69%,rgba(78,73,75,1)), color-stop(70%,rgba(78,73,75,1)), color-stop(71%,rgba(78,73,76,0)), color-stop(72%,rgba(77,72,76,0)), color-stop(100%,rgba(24,19,25,0)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(83, 63, 87, 0) 0%,rgba(88, 84, 80, 0) 34%,rgba(55,54,52,1) 36%,rgba(56,55,53,1) 37%,rgb(173, 148, 123) 38%,rgba(56,55,53,1) 39%,rgb(179, 164, 149) 40%,rgba(56,55,53,1) 41%,rgba(87,77,76,1) 42%,rgba(87,77,76,1) 44%,rgba(113,110,103,1) 46%,rgba(113,110,103,1) 48%,rgba(113,98,93,1) 49%,rgba(113,98,93,1) 51%,rgba(122,115,105,1) 52%,rgba(113,98,93,1) 53%,rgba(113,98,93,1) 54%,rgba(122,115,105,1) 55%,rgba(106,99,89,1) 56%,rgba(106,99,89,1) 58%,rgba(79,76,76,0) 60%,rgb(148, 142, 175) 61%,rgba(65,64,70,1) 62%,rgb(170, 143, 165) 63%,rgba(78,74,73,1) 65%,rgba(78,73,74,1) 67%,rgba(78,73,74,0) 68%,rgba(78,73,75,1) 69%,rgba(78,73,75,1) 70%,rgba(78,73,76,0) 71%,rgba(77,72,76,0) 72%,rgba(24,19,25,0) 100%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(94, 72, 99, 0) 0%,rgba(53,52,51,0) 34%,rgba(55,54,52,1) 36%,rgba(56,55,53,1) 37%,rgb(119, 96, 73) 38%,rgba(56,55,53,1) 39%,rgba(68,67,66,1) 40%,rgb(180, 157, 111) 41%,rgba(87,77,76,1) 42%,rgba(87,77,76,1) 44%,rgba(113,110,103,1) 46%,rgba(113,110,103,1) 48%,rgba(113,98,93,1) 49%,rgba(113,98,93,1) 51%,rgba(122,115,105,1) 52%,rgba(113,98,93,1) 53%,rgba(113,98,93,1) 54%,rgba(122,115,105,1) 55%,rgba(106,99,89,1) 56%,rgba(106,99,89,1) 58%,rgba(79,76,76,0) 60%,rgb(76, 72, 99) 61%,rgba(65,64,70,1) 62%,rgb(102, 74, 96) 63%,rgba(78,74,73,1) 65%,rgba(78,73,74,1) 67%,rgba(78,73,74,0) 68%,rgba(78,73,75,1) 69%,rgba(78,73,75,1) 70%,rgba(78,73,76,0) 71%,rgba(77,72,76,0) 72%,rgba(24,19,25,0) 100%);
  background: -ms-radial-gradient(center, ellipse cover,  rgba(89, 65, 94, 0) 0%,rgba(87, 83, 79, 0) 34%,rgba(55,54,52,1) 36%,rgba(56,55,53,1) 37%,rgb(83, 66, 48) 38%,rgba(56,55,53,1) 39%,rgba(68,67,66,1) 40%,rgb(190, 159, 96) 41%,rgba(87,77,76,1) 42%,rgba(87,77,76,1) 44%,rgba(113,110,103,1) 46%,rgba(113,110,103,1) 48%,rgba(113,98,93,1) 49%,rgba(113,98,93,1) 51%,rgba(122,115,105,1) 52%,rgba(113,98,93,1) 53%,rgba(113,98,93,1) 54%,rgb(161, 138, 104) 55%,rgba(106,99,89,1) 56%,rgba(106,99,89,1) 58%,rgba(79,76,76,0) 60%,rgb(50, 48, 59) 61%,rgba(65,64,70,1) 62%,rgb(66, 53, 64) 63%,rgba(78,74,73,1) 65%,rgba(78,73,74,1) 67%,rgba(78,73,74,0) 68%,rgba(78,73,75,1) 69%,rgba(78,73,75,1) 70%,rgba(78,73,76,0) 71%,rgba(77,72,76,0) 72%,rgba(24,19,25,0) 100%);
  background: radial-gradient(ellipse at center,  rgba(71, 59, 73, 0) 0%,rgba(92, 86, 80, 0) 34%,rgba(55,54,52,1) 36%,rgba(56,55,53,1) 37%,rgba(68,67,66,1) 38%,rgba(56,55,53,1) 39%,rgba(68,67,66,1) 40%,rgb(63, 58, 47) 41%,rgba(87,77,76,1) 42%,rgba(87,77,76,1) 44%,rgba(113,110,103,1) 46%,rgba(113,110,103,1) 48%,rgba(113,98,93,1) 49%,rgba(113,98,93,1) 51%,rgba(122,115,105,1) 52%,rgba(113,98,93,1) 53%,rgba(113,98,93,1) 54%,rgb(83, 73, 60) 55%,rgba(106,99,89,1) 56%,rgba(106,99,89,1) 58%,rgba(79,76,76,0) 60%,rgba(65,64,70,1) 61%,rgb(27, 26, 31) 62%,rgba(90,85,89,1) 63%,rgb(41, 38, 37) 65%,rgba(78,73,74,1) 67%,rgba(78,73,74,0) 68%,rgba(78,73,75,1) 69%,rgba(78,73,75,1) 70%,rgba(78,73,76,0) 71%,rgba(77,72,76,0) 72%,rgba(24,19,25,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00181319', endColorstr='#00181319',GradientType=1 );

  transform: rotateX(75deg);
  /*transform: rotate3d(1, 0, 0, 75deg); */
  /*transform: rotateX(100deg) rotateY(15deg);*/
	/*animation: rotation 2s infinite linear;*/
  /*
}

@keyframes rotation {
  from {
    /*transform: rotate(0deg);*/
    /*transform: rotate3d(1, 0, 0, 75deg); 
  }
  to {
    /*transform: rotate(359deg);*/
    /*
    transform: rotateX(285deg);
  }
}

.planet {
  background: green;
  width: 180px;
  height: 180px;
  position: absolute;
  top: 110px;
  left: 110px;
  border-radius: 50%;
}

.top {
  clip: rect(0px, 180px, 90px, 0px);
}

.bottom {
  clip: rect(90px, 180px, 180px, 0px);
}

.planet-bg {
  background: -moz-radial-gradient(top, circle cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(0,0,0,1) 100%), -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 62%, rgba(0,0,0,1) 100%), -moz-linear-gradient(bottom,  rgba(131,129,117,1) 0%, rgba(131,129,117,1) 3%, rgba(150,144,130,1) 5%, rgba(150,144,130,1) 9%, rgba(190,177,145,1) 20%, rgba(190,177,145,1) 32%, rgba(202,176,153,1) 35%, rgba(202,176,153,1) 47%, rgba(205,186,156,1) 48%, rgba(205,186,156,1) 49%, rgba(211,184,157,1) 51%, rgba(211,184,157,1) 59%, rgba(218,188,162,1) 61%, rgba(218,188,162,1) 63%, rgba(208,180,158,1) 64%, rgba(208,180,158,1) 68%, rgba(213,181,143,1) 74%, rgba(213,181,143,1) 78%, rgba(221,203,157,1) 83%, rgba(221,203,157,1) 85%, rgba(212,203,174,1) 90%, rgba(212,203,174,1) 100%);
  background: -webkit-radial-gradient(top, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%), -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 62%,rgba(0,0,0,1) 100%), -webkit-linear-gradient(bottom,  rgba(131,129,117,1) 0%,rgba(131,129,117,1) 3%,rgba(150,144,130,1) 5%,rgba(150,144,130,1) 9%,rgba(190,177,145,1) 20%,rgba(190,177,145,1) 32%,rgba(202,176,153,1) 35%,rgba(202,176,153,1) 47%,rgba(205,186,156,1) 48%,rgba(205,186,156,1) 49%,rgba(211,184,157,1) 51%,rgba(211,184,157,1) 59%,rgba(218,188,162,1) 61%,rgba(218,188,162,1) 63%,rgba(208,180,158,1) 64%,rgba(208,180,158,1) 68%,rgba(213,181,143,1) 74%,rgba(213,181,143,1) 78%,rgba(221,203,157,1) 83%,rgba(221,203,157,1) 85%,rgba(212,203,174,1) 90%,rgba(212,203,174,1) 100%);
  background: -o-radial-gradient(top, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%), -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 62%,rgba(0,0,0,1) 100%), -o-linear-gradient(bottom,  rgba(131,129,117,1) 0%,rgba(131,129,117,1) 3%,rgba(150,144,130,1) 5%,rgba(150,144,130,1) 9%,rgba(190,177,145,1) 20%,rgba(190,177,145,1) 32%,rgba(202,176,153,1) 35%,rgba(202,176,153,1) 47%,rgba(205,186,156,1) 48%,rgba(205,186,156,1) 49%,rgba(211,184,157,1) 51%,rgba(211,184,157,1) 59%,rgba(218,188,162,1) 61%,rgba(218,188,162,1) 63%,rgba(208,180,158,1) 64%,rgba(208,180,158,1) 68%,rgba(213,181,143,1) 74%,rgba(213,181,143,1) 78%,rgba(221,203,157,1) 83%,rgba(221,203,157,1) 85%,rgba(212,203,174,1) 90%,rgba(212,203,174,1) 100%);
  background: -ms-radial-gradient(top, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%), -ms-radial-gradient(center, circle cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 62%,rgba(0,0,0,1) 100%), -ms-linear-gradient(bottom,  rgba(131,129,117,1) 0%,rgba(131,129,117,1) 3%,rgba(150,144,130,1) 5%,rgba(150,144,130,1) 9%,rgba(190,177,145,1) 20%,rgba(190,177,145,1) 32%,rgba(202,176,153,1) 35%,rgba(202,176,153,1) 47%,rgba(205,186,156,1) 48%,rgba(205,186,156,1) 49%,rgba(211,184,157,1) 51%,rgba(211,184,157,1) 59%,rgba(218,188,162,1) 61%,rgba(218,188,162,1) 63%,rgba(208,180,158,1) 64%,rgba(208,180,158,1) 68%,rgba(213,181,143,1) 74%,rgba(213,181,143,1) 78%,rgba(221,203,157,1) 83%,rgba(221,203,157,1) 85%,rgba(212,203,174,1) 90%,rgba(212,203,174,1) 100%);
  background: radial-gradient(circle at top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 40%,rgba(0,0,0,1) 100%), radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 62%,rgba(0,0,0,1) 100%), linear-gradient(to top,  rgba(131,129,117,1) 0%,rgba(131,129,117,1) 3%,rgba(150,144,130,1) 5%,rgba(150,144,130,1) 9%,rgba(190,177,145,1) 20%,rgba(190,177,145,1) 32%,rgba(202,176,153,1) 35%,rgba(202,176,153,1) 47%,rgba(205,186,156,1) 48%,rgba(205,186,156,1) 49%,rgba(211,184,157,1) 51%,rgba(211,184,157,1) 59%,rgba(218,188,162,1) 61%,rgba(218,188,162,1) 63%,rgba(208,180,158,1) 64%,rgba(208,180,158,1) 68%,rgba(213,181,143,1) 74%,rgba(213,181,143,1) 78%,rgba(221,203,157,1) 83%,rgba(221,203,157,1) 85%,rgba(212,203,174,1) 90%,rgba(212,203,174,1) 100%);
}
*/

:root 
{
    --dark-color: rgb(0,0,0);
    --glossy-red: rgba(238, 17, 17, 1);
    --hidden-red: rgba(238, 17, 17, 0);
    --light-red: rgba(238, 17, 17, .5);
    --paths-theme: var(--very-light-red) var(--glossy-red);
    --planets-theme: var(--light-red) var(--light-red) var(--light-red) var(--glossy-red); 
    --very-light-red: rgba(238, 17, 17, .25);
}
*
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;

    border: 0;
}
body
{
    overflow: hidden;

    background-color: var(--dark-color);
}
body #solar-system
{
    display: flex;

    width: 100vw;
    height: 100vh;

    -webkit-transform: skewX(-45deg);
       -moz-transform: skewX(-45deg);
        -ms-transform: skewX(-45deg);
         -o-transform: skewX(-45deg);
            transform: skewX(-45deg);
    -webkit-transform-origin: center;
       -moz-transform-origin: center;
        -ms-transform-origin: center;
         -o-transform-origin: center;
            transform-origin: center;

    justify-content: center;
    align-items: center;
}

/* ⚠ size of the sun is not respected here */
section #sun
{
    position: fixed;
    z-index: 100;
    /* ✑ real radius of the sun: 696340km */

    width: 174.085px; /* ✑ 40* too small compared to the #planets{} dimensions values */
    height: 174.085px;

    -webkit-transform: skewX(45deg);
       -moz-transform: skewX(45deg);
        -ms-transform: skewX(45deg);
         -o-transform: skewX(45deg);
            transform: skewX(45deg);

    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
            background: var(--glossy-red);
            background: linear-gradient(135deg, var(--glossy-red) 20%, var(--hidden-red) 100%);

    -webkit-background: linear-gradient(135deg, var(--glossy-red) 20%, var(--hidden-red) 100%);
       -moz-background: linear-gradient(135deg, var(--glossy-red) 20%, var(--hidden-red) 100%);
         -o-background: linear-gradient(135deg, var(--glossy-red) 20%, var(--hidden-red) 100%);
        -ms-background: linear-gradient(135deg, var(--glossy-red) 20%, var(--hidden-red) 100%);
            filter: drop-shadow(0 0 2rem var(--glossy-red)) blur(1px);
    -webkit-filter: drop-shadow(0 0 2rem var(--glossy-red)) blur(1px);
       -moz-filter: drop-shadow(0 0 2rem var(--glossy-red)) blur(1px);
         -o-filter: drop-shadow(0 0 2rem var(--glossy-red)) blur(1px);
        -ms-filter: drop-shadow(0 0 2rem var(--glossy-red)) blur(1px);
}

/* planets */
article #mercury
{
    position: fixed;
    z-index: 99;
    top: 38px;

    display: flex;

    width: 24.397px; /* ✑ real radius of mercury: 24397km */
    height: 24.397px;
    /* ✑ rotation period of mercury: 58.645 days */

    -webkit-animation: planets-rotation 29.3225s linear infinite;
       -moz-animation: planets-rotation 29.3225s linear infinite;
        -ms-animation: planets-rotation 29.3225s linear infinite;
         -o-animation: planets-rotation 29.3225s linear infinite;
            animation: planets-rotation 29.3225s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--planets-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: var(--hidden-red);

    justify-content: center;
    align-items: center;
}
article #venus
{
    position: fixed;
    z-index: 99;
    top: 15px;

    display: flex;

    width: 60.518px; /* ✑ real radius of venus: 60518km */
    height: 60.518px;
    /* ✑ rotation period of venus 243.023 days */

    -webkit-animation: planets-rotation 121.513s linear infinite;
       -moz-animation: planets-rotation 121.513s linear infinite;
        -ms-animation: planets-rotation 121.513s linear infinite;
         -o-animation: planets-rotation 121.513s linear infinite;
            animation: planets-rotation 121.513s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--planets-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: var(--hidden-red);

    justify-content: center;
    align-items: center;
}
article #earth
{
    position: fixed;
    z-index: 99;
    top: 35px;

    display: flex;

    width: 63.71px; /* ✑ real radius of the earth: 6371km */
    height: 63.71px;
    /* ✑ animation-duration: .5s = 24hours on earth */

    -webkit-animation: planets-rotation .4874s linear infinite;
       -moz-animation: planets-rotation .4874s linear infinite;
        -ms-animation: planets-rotation .4874s linear infinite;
         -o-animation: planets-rotation .4874s linear infinite;
            animation: planets-rotation .4874s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--planets-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: var(--hidden-red);

    justify-content: center;
    align-items: center;
}
article #earth::after
{
    position: inherit;

    width: 40%;
    height: 40%;

    content: '';
    -webkit-animation: earth-blinking 2s linear infinite;
       -moz-animation: earth-blinking 2s linear infinite;
        -ms-animation: earth-blinking 2s linear infinite;
         -o-animation: earth-blinking 2s linear infinite;
            animation: earth-blinking 2s linear infinite;

    -webkit-border-radius: inherit;
       -moz-border-radius: inherit;
            border-radius: inherit;
    background: var(--glossy-red);

    -webkit-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
       -moz-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
         -o-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
        -ms-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
            filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
}
article #mars
{
    position: fixed;
    z-index: 99;
    top: 288px;

    display: flex;

    width: 33.895px; /* ✑ real radius of mars: 33895km */
    height: 33.895px;
    /* ✑ animation-duration: .5s = 24hours on earth */

    -webkit-animation: planets-rotation .5128s linear infinite;
       -moz-animation: planets-rotation .5128s linear infinite;
        -ms-animation: planets-rotation .5128s linear infinite;
         -o-animation: planets-rotation .5128s linear infinite;
            animation: planets-rotation .5128s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--planets-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    background: var(--hidden-red);

    justify-content: center;
    align-items: center;
}
article #mars::after,
article #venus::after,
article #mercury::after
{
    width: 40%;
    height: 40%;

    content: '';

    -webkit-border-radius: inherit;
       -moz-border-radius: inherit;
            border-radius: inherit;
    background: var(--glossy-red);

    -webkit-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
       -moz-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
         -o-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
        -ms-filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
            filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
}

/* planets trajectory's
⚠ the distances between the planets and the sun are not respected here because of the diameter ot it */
section #mercury-trajectory
{
    position: fixed;
    z-index: 98;

    width: 203.085px; /* ✑ non-proportional */
    height: 203.085px;
    /* ✑ revolution of mercury: 87.969 days */

    -webkit-animation: solar-revolution 43.9845s linear infinite;
       -moz-animation: solar-revolution 43.9845s linear infinite;
        -ms-animation: solar-revolution 43.9845s linear infinite;
         -o-animation: solar-revolution 43.9845s linear infinite;
            animation: solar-revolution 43.9845s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--paths-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
section #venus-trajectory
{
    position: fixed;
    z-index: 98;

    width: 257.085px; /* ✑ non-proportional */
    height: 257.085px;
    /* ✑ revolution of venus: 224.667 days */

    -webkit-animation: solar-revolution 112.3335s linear infinite;
       -moz-animation: solar-revolution 112.3335s linear infinite;
        -ms-animation: solar-revolution 112.3335s linear infinite;
         -o-animation: solar-revolution 112.3335s linear infinite;
            animation: solar-revolution 112.3335s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--paths-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
section #earth-trajectory
{
    position: fixed;
    z-index: 98;

    width: 332.085px; /* ✑ non-proportional */
    height: 332.085px;
    /* ✑ revolution of the earth: 365.2422 days */

    -webkit-animation: solar-revolution 182.6211s linear infinite;
       -moz-animation: solar-revolution 182.6211s linear infinite;
        -ms-animation: solar-revolution 182.6211s linear infinite;
         -o-animation: solar-revolution 182.6211s linear infinite;
            animation: solar-revolution 182.6211s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--paths-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}
section #mars-trajectory
{
    position: fixed;
    z-index: 98;

    width: 446.085px; /* ✑ non-proportional */
    height: 446.085px;
    /* ✑ revolution of mars: 686.885 days */

    -webkit-animation: solar-revolution 343.4425s linear infinite;
       -moz-animation: solar-revolution 343.4425s linear infinite;
        -ms-animation: solar-revolution 343.4425s linear infinite;
         -o-animation: solar-revolution 343.4425s linear infinite;
            animation: solar-revolution 343.4425s linear infinite;

    border-width: 2px;
    border-style: solid;
    border-color: var(--paths-theme);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

/*
▀▄▀▄▀▄▀▄▀▄▀▄ ANIMATIONS ▀▄▀▄▀▄▀▄▀▄▀▄
*/

@keyframes solar-revolution
{
    to
    {
        transform: rotate(360deg) ;
    }
}

@keyframes planets-rotation
{
    to
    {
        transform: rotate(360deg) ;
    }
}
@keyframes earth-blinking
{
    from
    {
        background-color: var(--glossy-red);

        filter: drop-shadow(0 0 .3rem var(--light-red)) blur(.5px);
    }
    to
    {
        background-color: var(--dark-color);

        filter: drop-shadow(0 0 0 var(--light-red)) blur(0);
    }
}

/* media queries
smartphone*/
@media only screen and (max-width: 768px)
{
    section #sun
    {
        width: 87.0425px;
        height: 87.0425px;
    }
    section #mercury-trajectory
    {
        width: 101.5425px;
        height: 101.5425px;
    }
    article #mercury
    {
        top: 17px;

        width: 12.1985px;
        height: 12.1985px;
    }
    section #venus-trajectory
    {
        width: 128.5425px;
        height: 128.5425px;
    }
    article #venus
    {
        top: 6px;

        width: 30.259px;
        height: 30.259px;
    }
    section #earth-trajectory
    {
        width: 166.0425px;
        height: 166.0425px;
    }
    article #earth
    {
        top: 16px;

        width: 31.855px;
        height: 31.855px;
    }
    section #mars-trajectory
    {
        width: 223.0425px;
        height: 223.0425px;
    }
    article #mars
    {
        top: 56px;

        width: 16.9475px;
        height: 16.9475px;
    }
}

/* 4K Ultra HD */
@media only screen and (min-width: 1921px)
{
    section #sun
    {
        width: 348.17px;
        height: 348.17px;
    }
    section #mercury-trajectory
    {
        width: 406.17px;
        height: 406.17px;
    }
    article #mercury
    {
        top: 82px;

        width: 48.794px; /* ✑ real diameter of mercury: 4879.4km*/
        height: 48.794px;
    }
    section #venus-trajectory
    {
        width: 514.17px;
        height: 514.17px;
    }
    article #venus
    {
        top: 28px;

        width: 121.036px; /* ✑ real diameter of venus: 12103.6km */
        height: 121.036px;
    }
    section #earth-trajectory
    {
        width: 664.17px;
        height: 664.17px;
    }
    article #earth
    {
        top: 68px;

        width: 127.42px; /* ✑ real diameter of the earth: 12742km */
        height: 127.42px;
    }
    section #mars-trajectory
    {
        width: 892.14px;
        height: 892.14px;
    }
    article #mars
    {
        top: 242px;

        width: 67.79px; /* ✑ real diameter of mars: 6779km */
        height: 67.79px;
    }
}
